body{
  background-color: #77BA99;

}
#mainwindow{
  margin-top: 10px;
  background-color: white;

}
.col-sm-3{
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
}
.col-sm-3:hover{
  text-align: center;
  color: #71697A;

  cursor:pointer;

}
a:hover{
  cursor:pointer;
}
button{
  flex:1;
}
#contentwindow{
  margin-top: 5px;
  background-color: white;

}
.navchoice{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}


#profile{
  width:200px;
  height:200px;
}
#homerow{
  display: flex;
}
.icon{
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}
